<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppp.bamin.DAO.MeetingMapper">
    
    <resultMap id="selectMap" type="java.util.Map">
    	<id property="meetingNo" column="MEETING_NO"/>
    	<id property="meetingDate" column="MEETING_DATE"/>
    	<id property="lctn" column="LCTN"/>
    	<id property="attCnt" column="ATT_CNT"/>
    	<id property="memberFee" column="MEMBER_FEE"/>
    	<id property="guestCnt" column="GUEST_CNT"/>
    	<id property="guestFee" column="GUEST_FEE"/>
    	<id property="totFee" column="TOT_FEE"/>
    </resultMap>
    
    
    <select id="retrieveMeetingList" resultMap="selectMap">
   	SELECT
	   	MEETINGNO AS MEETING_NO
		, MEETINGDATE AS MEETING_DATE
		, LCTN AS LCTN
		, ATTCNT AS ATT_CNT
		, MEMBERFEE AS MEMBER_FEE
		,GUESTCNT AS GUEST_CNT
		,GUESTFEE AS GUEST_FEE
		,TOTFEE AS TOT_FEE
   	FROM MEETING
   	order by MEETINGNO ASC
    </select>
    
    
    <select id="retrieveMeetingDetail" resultMap="selectMap">
   	SELECT
	   	MEETINGNO AS MEETING_NO
		, MEETINGDATE AS MEETING_DATE
		, LCTN AS LCTN
		, ATTCNT AS ATT_CNT
		, MEMBERFEE AS MEMBER_FEE
		,GUESTCNT AS GUEST_CNT
		,GUESTFEE AS GUEST_FEE
		,TOTFEE AS TOT_FEE
   	FROM MEETING
   	WHERE MEETINGNO = #{meetingNo}
   	order by MEETINGNO ASC
    </select>
    
    
    <insert id="insertMeeting">
    INSERT INTO MEMBER (memberNo, memberNm, attCnt, telNo, lctn1, lctn2, gndr, age, feeBalance) VALUES
    (
	    memberRegSeq.nextval
	    ,#{memberNm}
	    ,#{attCnt}
	    ,#{telNo}
	    ,#{lctn1}
	    ,#{lctn2}
	    ,#{gndr}
	    ,#{age}
	    ,#{feeBalance}
    )
    
    </insert>
	
	
	 <resultMap id="selectLctnMap" type="java.util.Map">
    	<id property="regNo" column="REG_NO"/>
    	<id property="codeKey" column="CODE_KEY"/>
    	<id property="codeValue" column="CODE_VALUE"/>
    </resultMap>
    
	<select id="retrieveLctn1Code" resultMap="selectLctnMap">
  	SELECT 
	  	REGNO
	  	,CODEKEY
	  	,CODEVALUE
	FROM COMMCD 
  	WHERE DIVCD ='3000'
    </select>
    
    	<select id="retrieveLctn2Code" resultMap="selectLctnMap">
  	SELECT 
	  	REGNO
	  	,CODEKEY
	  	,CODEVALUE
	FROM COMMCD 
  	WHERE DIVCD ='3001'
    </select>
</mapper>